* {
  font-family: "Helvetica";
}
/*
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px; margin-bottom: 0;
 }
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, .2);
} */

.film-cover-top {
  width: 100%;
  height: 10%;
object-fit: scale-down;
}

.gardient {
  background: blue;

}


.film-cover {
  width: 100%;

}

.now-playing-movie-date {
    bottom:17%;
    left:10%;
    position: absolute;
    font-size: 15px;
    color: grey;
}

.now-playing-movie-title {
    bottom:12%;
    left:10%;
    position: absolute;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.now-playing-movie-btn {
    bottom:5%;
    left:10%;
    position: absolute;
}

.featured-films-title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  color: white;
}


.featured-films-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: white;
}

.navbar-center {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
.navbar a {
  text-align: center;
}

.on-now-film-title {
  padding-top: 5px;
  font-weight: bold;
  font-size: 17px;
}

.on-now-film-info {
  text-transform: uppercase;
  font-size: 10px;
  color: grey;
}

.no-gutter {
  padding: 0;
}

h1 {
  text-align: center;
  font-weight: bold;
  padding: 15px
}

h4 {
  padding-bottom: 10px;
}

.whats-on {
  padding-top: 50px;
  padding-bottom: 50px;
}

.img-container {
  margin-top: 50px;
  background-color: #000000;
  height: 500px;
}
.img-container img {
  opacity: 0.4;
  height: 500px;
  border-top: 50px;

}

.social {
  padding: 50px;
  background: #000;
  color: white;
  text-align: center;
}

.social-media {
  padding-bottom: 30px;
}

.subscribe-btn {
  margin: 10px;
}

.page-footer {
  padding-top: 25px;
  background-color: blue;
  color: white;
}

.page-footer p, h5, a {
  padding-left: 50px;
  padding-right: 50px;
}

.page-footer a:link {
  color: white;
}

.footer-copyright {
  background: darkblue;
  padding: 15px;
  color: white;
}

hr {
  color: white;
  width: 70%

}
